$primary-color: #646cff;
$secundary-color: #535bf2;
$light-color: #fff;
$dark-color: #1a1a1a;

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border: 1px solid $light-color;
    border-radius: 6px;
    width: 300px;
    height: 380px;
    margin-bottom: 60px;
    animation: campo-inserir 2s cubic-bezier(1, 1, 1, 1) infinite;
}

@keyframes campo-inserir {
    20% {
        border-bottom: 1px solid $primary-color;
    }

    40% {
        border-left: 1px solid $primary-color;
    }

    60% {
        border-top: 1px solid $primary-color;
    }

    90% {
        border-right: 1px solid $primary-color;
    }
}

label {
    font-size: 22px;
    font-weight: 500;
}

input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    background-color: $dark-color;
    transition: border-color 0.25s;

}

input:hover {
    border: 1px solid #646cff;
}

input:focus-visible {
    outline-offset: 0;
    outline-color: #646cff;
    outline-style: ridge;
    outline-width: 1px;
    border: none;
    animation: campo-input 0.3s alternate-reverse infinite;
}

@keyframes campo-input {
    from {
        outline-offset: 0px;
    }

    to {
        outline-offset: 2px;
    }
}

table {
    border: 1px solid white;
    width: 100%;
    border-radius: 2px;
}

tr,
th,
td {
    border: 1px solid white;
    text-align: center;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
  }

  button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#removeBtn {
    margin: 0 auto;
}

#pdf {
    margin-top: 50px;
}