#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 340px;
    text-align: center;
}

#container #caixa-inserir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #fff;
    border-radius: 6px;
    width: 300px;
    height: 380px;
    margin-bottom: 60px;
    animation: campo-inserir 2s cubic-bezier(1, 1, 1, 1) infinite;
}

#container #caixa-inserir label {
    font-size: 22px;
    font-weight: 500;
}

#container #caixa-inserir input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: border-color 0.25s;
}

#container #caixa-inserir input:hover {
    border: 1px solid #646cff;
}

#container #caixa-inserir input:focus-visible {
    outline-offset: 0;
    outline-color: #646cff;
    outline-style: ridge;
    outline-width: 1px;
    border: none;
    animation: campo-input 0.3s alternate-reverse infinite;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#container table {
    border: 1px solid white;
    width: 100%;
    border-radius: 2px;
}

#container table tr, th, td {
    border: 1px solid white;
    text-align: center;
}

#container #removeBtn {
    margin: 0 auto;
}

#pdf {
    margin-top: 50px;
}

#container .total h2 {
    font-size: 2.2em;
    line-height: 1.1;
}

@keyframes campo-inserir {
    20% {
        border-bottom: 1px solid #646cff;
    }

    40% {
        border-left: 1px solid #646cff;
    }

    60% {
        border-top: 1px solid #646cff;
    }

    90% {
        border-right: 1px solid #646cff;
    }
}

@keyframes campo-input {
    from {
        outline-offset: 0px;
    }

    to {
        outline-offset: 2px;
    }
}